<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MsSQLServerSAISurvey" value="Data Source=(local)\SQLEXPRESS; Initial Catalog=SAISurvey; Integrated Security=True" />
    <add key="CaminhoExportacaoCSV" value="C:\Users\henrique\Documents\GitHub\SAISurvey\SAISurvey.Testes\Exportacao\"/>
    <add key="URL" value="http://localhost:1426/Default.aspx"/>
  </appSettings>

</configuration>